<!doctype html>
<html lang="ru">
<head>
    <!--    {% block title %}<title>Local Library</title>{% endblock %}-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
       body {
          background-image: url("/static/img/D0.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
       }

    </style>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

</head>

<body>
<div class="container-fluid">
<!--        <div style="display: flex;  justify-content: center;  align-items: center;">-->
    <div style="text-align: center;">
        <h1>Бронирование номеров</h1>
        <br><br>
        <p>На данном сайте вы легко можете <em>бронировать</em> свободные номера в отелях</p>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'hotel' %} ">Все отели</a></li>
<!--                <li><a href="">Все свободные номера</a></li>-->
                {% if user.is_authenticated %}
                <li><a href="/details/">Мои заказы</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'login_user' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>

    </div>
</div>
<div class="col-sm-10 ">
{% block navigation %}
             {% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{p}}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor%}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}</div>
</body>
</html>