{% extends "base_generic.html" %}


{% block content %}
<table border="2" style="width: 70%;">
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">ID номера</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Фото номера</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Название отеля</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Описание номера</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Дата бронирования</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Забронирован с</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Забронирован по</div>
    </th>

    {% for item in page_obj %}
    <tr style="height: 50px;">
        <td style="text-align: center;">{{ item.room.id }}</td>
        {% if item.room.photos %}
        <td style="text-align: center;"><img src="{{item.room.photos.url}}" height="100px"></td>
        {% else %}
        <td style="text-align: center;"><p>Фото отсутствует</p></td>
        {% endif %}
        <td style="text-align: center;">{{ item.room.hotel.name }}</td>
        <td style="text-align: center;">{{ item.room }}</td>
        <td style="text-align: center;">{{ item.created_at }}</td>
        <td style="text-align: center;">{{ item.check_in_date }}</td>
        <td style="text-align: center;">{{ item.check_out_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

