{% extends "base_generic.html" %}


{% block content %}
<table border="2" style="width: 70%;">
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Запись номера бронирования</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Дата бронирования</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Забронирован с</div>
    </th>
    <th scope="col" class="sortable column-name" style="text-align: center;">
        <div class="text">Забронирован по</div>
    </th>

    {% for item in user_data %}
    <tr style="height: 50px;">
        <td style="text-align: center;">{{ item.room }}</td>
        <td style="text-align: center;">{{ item.created_at }}</td>
        <td style="text-align: center;">{{ item.check_in_date }}</td>
        <td style="text-align: center;">{{ item.check_out_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}