{% extends "base_generic.html" %}

{% block content %}

<h3>Номера отеля: "{{ hotel_name }}" </h3>
<table border="2" style="width: 70%;">
<th scope="col" class="sortable column-name" style="text-align: center;">
   <div class="text" style="">id</div>
</th>
<th scope="col" class="sortable column-name" style="text-align: center;">
   <div class="text">Цена</div>
</th>
  <th scope="col" class="sortable column-name" style="text-align: center;">
   <div class="text">Состояние</div>
</th>
<th scope="col" class="sortable column-name" style="text-align: center;">
   <div class="text"> Выбрать </div>
</th>
    {% for item in rooms %}
    <tr style="height: 50px;">
        <td style="text-align: center;">{{ item.id }}</td>
        <td style="text-align: center;">{{ item.price_per_night }}</td>
        <td style="text-align: center;">{{ item.state }}</td>
         <td style="text-align: center;"><input type="checkbox" id="{{ item.id }}" onclick="toggleCheckboxes(this)"></td>
    </tr>
    {% endfor %}
</table>
<br>
{% if error %}
    <li style="color: red;"><strong>{{ error }}</strong></li>
{% endif %}
{% if success %}
    <li style="color: green;"><strong>{{ success }}</strong></li>
{% endif %}
<br>
<b>Если вы желаете забронировать номер, отметьте номер в столбце "Бронировать", укажите период бронирования и нажмите кнопку "Бронировать"</b>
<br><br>
<div style="row">
    <div class="col-sm-12">
    <div class="col-sm-2">
        <button class="btn btn-success js-tooltip" title=""  > вернуться к списку отелей </button>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    </div>
        <form method="POST">
<!--        <form method="POST" action="{{ action_hr }}">-->
             {% csrf_token %}
            <div class="col-sm-2" style="text-align: right;">
                <label>С: <input type="date" id="date_from" name="date_from" min="{{ date_min}}" value="{{ date_from }}"></label>
            </div>
            <div class="col-sm-2" style="text-align: center;">
                <label>По: <input type="date" id="date_to" name="date_to" min="{{ date_to }}" value="{{ date_to}}"></label>
            </div>
            <div class="col-sm-2" style="text-align: left;">
                <input id="room" name="room"  value="" hidden>
                <button class="btn btn-success js-tooltip" title="" > Бронировать </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}